@import "../../css/variables";

.todoes {
    width: 70%;
    margin: 0 auto;
    font-size: 1.5rem;
    .header {
        display: flex;
        justify-content: space-between;
        margin-right: 10%;
        padding: 1rem;
        .title {
            font-size: 2rem;
        }
        .addTodoBtn {
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 5px;
            background-color: lightskyblue;
            cursor: pointer;
        }
    }
    .todo-table {
        display: grid;
        grid-template-rows: 2rem;
        grid-auto-rows: 10rem;
        grid-template-columns: 60% repeat(2, 1fr);
        border: 1px solid black;
        .item {
            @extend .border;
            border: 1px solid black;
        }
    }
}