.main-header {
    width: 80%;
    margin: 2rem auto 0 auto;
    background-color: cornflowerblue;
    height: 50px;
    font-size: 2rem;
    padding: 0 5px;
    .count-info {
        float: right;
    }
}